@media screen and (max-width: 998px) {
  footer {
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
      justify-content: center;
    }

    .apps.mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
