@media screen and (max-width: 998px) {
  .infos-navbar {
    display: none !important;
  }

  .hero-carousel-section {
    margin-top: 0 !important;
    padding-top: 0 !important;

    .main-carousel {
      margin-top: 0 !important;
      padding-top: 0 !important;

      .swiper-wrapper {
        margin-top: 0 !important;
        padding-top: 0 !important;
      }
    }
  }

  .container-planos {
    padding: 0 40px !important;

    h4 {
      font-size: 32px !important;
      width: 100%;
      margin-bottom: 35px !important;
    }

    .planos {
      flex-direction: column !important;
      gap: 22px !important;
      .center {
        scale: 1 !important;
      }
      align-items: center !important;

      .card-plano {
        min-height: 300px !important;
      }

      .card-plano:hover:not(.center) {
        box-shadow:
          #fff 4px 4px 0px 0px,
          #fff -4px -4px 0px 0px,
          #fff -4px 4px 0px 0px,
          #fff 3.9px -4px 0px 0px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-carousel-section {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-top: none !important;

    .main-carousel {
      margin-top: 0 !important;
      padding-top: 0 !important;

      .swiper-wrapper {
        margin-top: 0 !important;
        padding-top: 0 !important;
        transform: translateY(0) !important;
      }

      .swiper-slide {
        margin-top: 0 !important;
        padding-top: 0 !important;
      }
    }
  }
}
