@media screen and (max-width: 998px) {

  .owl-nav{
    top: 23%!important;
  }

  .owl-theme .owl-nav [class*=owl-] {
    font-size: 30px !important;

  }
}



.apps{



  .owl-item{
    height: max-content;
    width: max-content;

    div{
      height: 50px;
      width: 50px;
      position: relative;
      overflow: hidden;
      padding: 3px;
      border-radius: 12px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover{
      box-shadow: #fff 2px 2px 0px 0px inset, #fff -2px -2px 0px 0px inset, #fff -2px 2px 0px 0px inset, #fff 2px -2px 0px 0px inset;

      }

      &.selected{

          box-shadow: #fff 2px 2px 0px 0px inset, #fff -2px -2px 0px 0px inset, #fff -2px 2px 0px 0px inset, #fff 2px -2px 0px 0px inset!important;

      }

      &.max-logo{

        img{
          filter: none;
        }

      }


    }

    img{
      height: 100%;
      width: 100%;
      max-height: 50px;
      object-fit: contain;
      aspect-ratio: 16/9;
    }

  }

}
