@media screen and (max-width: 998px) {


  #about{


    .container-about{
      padding: 0px 30px;
      padding-bottom: 30px;
      margin-bottom: 0;


    }

    .about-text{
      position: relative!important;
      width: 93%!important;
      height: 100%;
      top: -120px;
      left: 0!Important;
      margin-bottom: -120px;
    }


  }

}
