@media screen and (max-width: 998px) {


  #about{


    .container-about{
      padding: 0px 30px;
      padding-bottom: 30px;
      margin-bottom: 0;

      .about-text{
        justify-content: center!important;
        align-items: center!important;
        width: 100%;
        height: 100%;
      }
    }


  }

}
