aside {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-image: linear-gradient(to bottom, #00dbb5, #00d4b0, #01ceaa, #01c7a5, #02c1a0, #02c1a0, #02c1a0, #02c1a0, #01c7a5, #01ceaa, #00d4b0, #00dbb5);

  z-index: 5;

  animation: aside-animation 0.1s ease-in-out;

  &.active{
    display: flex!important;
  }

  .aside-header {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    .logo {
      width: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      font-size: 18px;
    }
  }

  .aside-body{
    padding: 0 5px;


    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 30px;

      li {

        font-size: 19px;
        font-weight: 300;
        position: relative;
        width: max-content;

        a {
            color: $white-color;
            text-decoration: none;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 25px;

            i{
              font-size: 23px;
            }

            span{
              position: absolute;
              left: 40px;
              white-space: nowrap;

              &::before{
                position: relative;
              }

              &:hover::after,
              &.active::after {
                  position: absolute;
                  content: '';
                  bottom: -4px;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  border-radius: 6px;
                  background: $white-color;
                  animation: transitionBorder .2s ease;
              }




              &.active {
                  font-weight: 600;
              }

            }

        }


    }


    }
  }

  .aside-end{
    position: absolute;
    bottom: 80px;
    padding: 0 46px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .contato{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      width: 100%;
      padding: 0 30px;
      font-size: 25px;
      position: relative;
      margin-bottom: 70px;

      a{
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: $white-color;
        text-decoration: none;
        align-items: center;
        span{
          position: absolute;
          left: 70px;
        }

        transition: 0.2s ease;


        &:hover{
          color: #16FF00;
        }

      }


      &:after{
        position: absolute;
        content: '';
        top: -39px;
        left: 30px;
        width: 80%;
        height: 3px;
        background: $white-color;
        border-radius: 10px;
      }
    }

    .logo{
      width: 100px;
      img{
        width: 100%;
      }
    }
  }
}



@keyframes aside-animation {

  from{
    left: -150%;
    opacity: 0;
  }

  to{
    left: 0%;
    opacity: 1;
  }

}
