.card-plano {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: $primary-color;
    border-radius: 6px;
    text-align: center;
    padding: 20px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-height: 300px;
    min-width: 230px;
    max-width: 250px;

    z-index: 2;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-in;

    &:first-child:hover{

        box-shadow: #fff 4px 4px 0px 0px, #fff -4px -4px 0px 0px, #fff -4px 4px 0px 0px, #fff 3.9px -4px 0px 0px;


    }

    &:last-child:hover{
        box-shadow: #fff 4px 4px 0px 0px, #fff -4px -4px 0px 0px, #fff -4px 4px 0px 0px, #fff 3.9px -4px 0px 0px;
    }


    &.center {
        scale: 1.09;
        z-index: 3;
        box-shadow: #fff 4px 4px 0px 0px, #fff -4px -4px 0px 0px, #fff -4px 4px 0px 0px, #fff 3.9px -4px 0px 0px;


    }


    .title {

        font-size: 49px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 2;

    }

    ul {
        list-style: none;
        padding: 0;
        text-align: start;

    }

    .value {

        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-bottom: 15px;

        span {
            font-size: 50px;
            font-weight: 600;
        }

        .small-text {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            font-size: 19px;
        }
    }

    .apps{

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 75px;

        span{
            font-weight: 600;
            position: relative;
            width: max-content;
            text-transform: uppercase;
            align-self: center;
            margin-bottom: 10px;
            &::before{
                position: absolute;
                bottom: -8px;
                left: -20px;
                content: '';
                background: white;
                height: 2px;
                width: 127%;
                border-radius: 12px;
            }

            &.premium::before{

                width: 115%;
            }

            &.standard::before{
                width: 150%;
            }
        }

    }

    .button-contract {
        color: $white-color;
        text-decoration: none;
        font-size: 32px;
        text-transform: uppercase;
        background: $secondary-color;
        font-weight: 800;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 7px 0;


        &:hover {
            background: linear-gradient(-45deg, #FF6B9E, $secondary-color);
            background-size: 400% 200%;
            animation: gradientAnimation 3s ease infinite;
          }

          /* Definição da animação */
          @keyframes gradientAnimation {

            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 80%;
            }
            100% {
                background-position: 0% 50%;
            }

          }

    }
}

.card-plano-new{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: $primary-color;
    border-radius: 6px;
    text-align: center;
    padding: 20px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-height: 300px;
    min-width: 230px;
    max-width: 250px;

    z-index: 2;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease-in;


    &#basic{
      background: $cor-apoio-1;



      i{
        background: $cor-apoio-1;
      }

    }

    &#plus{
      background: $secondary-color;

      i{
        background: $secondary-color;
      }

      .megas{
        span{
          background: $cor-apoio-1;
        }
      }

      .part-one{
        span:first-child{
          color: $cor-apoio-1;
        }
      }

      .month{

        span:last-child{
          color: $cor-apoio-1;
        }

      }

    }


    &#ultra, &#standard, &#premium{

      background: $white-color;
      color: $secondary-color;

      i{
        background: $white-color;
      }

      li{

        div{

          border: 1px solid $secondary-color;
        }

      }

      .megas{
        color: $secondary-color;
        span{
          background: $white-color;
          border: 1px solid $secondary-color;
        }
      }

    }

    .title{
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .info-mega{
      position: relative;
      margin-top: -30px;
      .megas{
        font-size: 150px;
        font-weight: 900;
        margin-bottom: -15px;

        span{
          position: absolute;
          font-size: 20px;
          top: 70px;
          right: 50px;
          background: $secondary-color;
          padding: 3px 10px;
          border-radius: 6px;
          text-transform: uppercase;
        }
      }




    }

    ul{

      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;

      div{
        position: relative;
        border: 1px solid $white-color;
        border-radius: 6px;
        padding: 5px;

        i{
          position: absolute;
          top: 7px;
          left: -5px;
          background: $primary-color;
          font-size: 10px;
          padding: 2px 0px;
        }
      }

    }

    .apps{
      display: flex;
      flex-direction: column;
      gap: 10px;

      span{
        position: relative;
        width: max-content;
        align-self: center;
        font-weight: 900;
        text-transform: uppercase;

      }

    }

    .price{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 5px;
      .part-one{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: -0px;

        span:first-child{
          color: $secondary-color;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
        }
        span:last-child{
          color: $white-color;
          font-size: 40px;
          font-weight: 800;

        }
      }

      .valor{
        font-size: 100px;
        font-weight: 900;
      }

      .month{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: -26px;
        span:first-child{
          font-size: 50px;
          font-weight: 900;
        }

        span:last-child{
          margin-top: -10px;
          font-size: 15px;
          color: $secondary-color;
          font-weight: 700;

        }
      }
    }

    a{
      color: $white-color;
      text-decoration: none;
      background: $cor-apoio-2;
      width: max-content;
      padding: 10px 20px;
      align-self: center;
      border-radius: 6px;
      font-weight: 600;
      position: relative;
      overflow: hidden;
      border: 1px solid transparent;

      &:hover{
        border: 1px solid $white-color;
        scale: 1.05;
        transition: 0.2s;
      }

      span{
        position: relative;
        z-index: 3;
      }

      &:hover::before{


        position: absolute;
        content: '';
        left: -2px;
        top: -5px;
        width: 100%;
        height: 100%;
        background: rgb(0, 161, 161);
        border-radius: 6px;
        animation: animationButton 0.3s ease;
        overflow: hidden;
        padding: 20px;

        @keyframes animationButton {

          from{
            left: -1000px;
            transform:rotate(70deg);
          }

          to{
            left: 0;
            transform:rotate(0deg);

          }

        }

      }
    }
}

