footer {
    background: $primary-color;
    padding: 20px 120px;
    height: max-content;
    position: relative;

    .content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;

    }

    .logo {
        width: 150px;
        height: 110px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    a {
        text-decoration: none;
        color: $white-color;
    }

    .number {
        position: absolute;
        right: 120px;
        top: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: $white-color;

        i {
            font-size: 18px;
        }

        .text {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 18px;
        }
    }

    .infos-navbar {
        display: flex;
        flex-direction: row;
        gap: 35px;
        align-items: center;

        .number-0800{
            display: flex;
            flex-direction: row;

            align-items: center;
            position: relative;



            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                font-size: 19px;
                transition: 0.2s;
                position: relative;


                &:hover{
                    color: #16FF00;

                }

                &:hover{
                  background: #16FF00;
                  color: $white-color;
                  padding: 10px;
                  border-radius: 6px;
                  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: -17px;
                width: 3px;
                height: 100%;
                background: $white-color;
                border-radius: 100px;

            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 26px;
            color: $white-color;

            li {


                font-size: 19px;
                font-weight: 300;
                position: relative;

                &:hover::after,
                &.active::after {
                    position: absolute;
                    content: '';
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 6px;
                    background: $white-color;
                    animation: transitionBorder .2s ease;
                }




                &.active {
                    font-weight: 600;
                }

                a {
                    color: $white-color;
                    text-decoration: none;
                    position: relative;


                }


            }
        }
    }


}

@keyframes transitionBorder {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}

@import "../responsiveness/footer";
