.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  background-image: url(../../assets/images/Poligonos-fundo.png);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  color: $black-color;
  min-height: 40vh;
  min-width: 200px;
  max-width: 400px;
  border-radius: 12px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  &::after {
    position: relative;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;
  text-transform: uppercase;
  padding: 0 20px;
  color: $white-color;
  button {
    color: $white-color;
  }
}

.modal-body {
  padding: 0 20px;
  height: max-content;

  .apps {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap: 20px;

    .app {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 40px;
  right: 20px;

  a {
    color: $white-color;
    text-decoration: none;
    background: $cor-apoio-2;
    width: max-content;
    padding: 10px 20px;
    align-self: center;
    border-radius: 6px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    &:hover {
      scale: 1.05;
      transition: 0.2s;
    }

    span {
      position: relative;
      z-index: 3;
    }

    &:hover::before {
      position: absolute;
      content: "";
      left: -2px;
      top: -5px;
      width: 100%;
      height: 100%;
      background: rgb(0, 161, 161);
      border-radius: 6px;
      animation: animationButton 0.3s ease;
      overflow: hidden;
      padding: 20px;


    }
  }
}

@keyframes animationButton {
  from {
    left: -1000px;
    transform: rotate(70deg);
  }

  to {
    left: 0;
    transform: rotate(0deg);
  }
}


@import "../responsiveness/modal";