.owl-item{
    
    img{
        object-fit: fill;
    }

    
}

.owl-dots{
    position: absolute!important;
    z-index: 3!important;   
    margin-top: -30px!important;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.owl-dot.active span{

    background: $secondary-color!important;
}

.owl-dot span{
    background: #5e5e5e!important;
}

.owl-nav{
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.owl-theme .owl-nav [class*=owl-]{

    background: transparent!important;
    font-size: 45px!important;

}

.owl-next{
    padding-right: 30px!important;
}

.owl-prev{
    padding-left: 20px!important;
}


.owl-prev i:hover, .owl-next i:hover{
    color: #9286C8;
}