<nav>

    <div class="logo">
        <img src="../../../assets/Logo-Vamo/Branca-1000px.png" alt="">
    </div>

    <div class="number">

        <a href="https://api.whatsapp.com/send?phone=558005914866&text=olá%20estou%20interessado" target="_blank">

            <div class="text">
                <div class="title"><i class="fa-brands fa-whatsapp"></i></div>
                <div class="phone-number">
                    0800 591 4866
                </div>
            </div>
        </a>
        

    </div>

    <ul>
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">Planos</a></li>
        <li><a href="#">Contato</a></li>
    </ul>

</nav>