<navbar-home></navbar-home>
<section id="about">
  <div class="carousel-container">



    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img src="../../../assets/images/new-equipe-1.jfif" alt=""/></ng-template>
      <ng-template carouselSlide
        ><img src="../../../assets/images/new-equipe-2.jfif" alt=""/></ng-template>
      <ng-template carouselSlide><img src="../../../assets/images/new-equipe-3.jfif" alt=""/> </ng-template>
    </owl-carousel-o>

    <div class="about-text">
      <h4>Quem somos?</h4>
      <span
        >Nascida em 2007 como uma especialista em serviços de internet, a
        empresa que conhecemos carinhosamente como Lajenet sempre teve como
        missão entregar um serviço de qualidade com a melhor tecnologia
        disponível no mercado, e tudo isso por um valor justo e acessível para
        todos.</span
      >
      <span
        >Com o passar do tempo, a busca constante por inovação e melhoria levou
        a Lajenet a uma transição, dando lugar à Vamo Telecom. Mantendo o
        compromisso de fornecer serviços de internet de alta qualidade, a Vamo
        Telecom continua a missão de oferecer a melhor tecnologia disponível no
        mercado a um preço justo e acessível.</span
      >
      <span
        >Hoje, o provedor expandiu sua presença para além de sua cidade natal,
        estendendo seus serviços para Quipapá e São Benedito do Sul, em
        Pernambuco, além de São José da Laje, em Alagoas. Esta transição e
        expansão representam um novo capítulo na história da empresa, marcado
        por um compromisso renovado com a qualidade, a inovação e a satisfação
        do cliente.
      </span>
      <span
        >A Vamo Telecom está ansiosa para continuar a servir os residentes e
        empresas dessas cidades com a mesma dedicação e excelência que sempre
        caracterizaram a empresa. Afinal, a Vamo Telecom é mais do que apenas um
        provedor de internet - é uma parte integrante da comunidade.</span
      >
    </div>
  </div>


</section>
<footer-component></footer-component>
