<navbar-home></navbar-home>
<section id="contato">

  <div class="section-content">
    <div class="contact">
      <i class="fa-solid fa-headset"></i>
      <h4>Entre em contato conosco</h4>
      <a target="_blank" href="https://api.whatsapp.com/send?phone=558005914866">0800 591 4866</a>
    </div>


    <div class="adress">
      <i class="fa-solid fa-location-pin"></i>
      <a href="https://maps.app.goo.gl/CQUVEGTjohNUrLRz6">
        <span>Av. Siqueira Campos, 282 - Centro, São José da Laje - AL</span>

      </a>
    </div>
  </div>

</section>
<footer-component></footer-component>
