<navbar-home></navbar-home>
<section id="contato">

  <div class="section-content">
    <div class="contact">
      <i class="fa-solid fa-headset"></i>
      <h4>Entre em contato conosco</h4>
      <a target="_blank" href="https://api.whatsapp.com/send?phone=558005914866">0800 591 4866</a>
    </div>

    <a href="https://maps.app.goo.gl/CQUVEGTjohNUrLRz6" target="_blank">
      <div class="invite-adress">
        <img src="../../../assets/images/05d3a3c6-f48e-46d5-904e-c38ccd8a82b9-Photoroom.png-Photoroom.png" alt="">
      </div>
    </a>
    


    <!-- <div class="adress">
      <i class="fa-solid fa-location-pin"></i>
      <a href="https://maps.app.goo.gl/CQUVEGTjohNUrLRz6">
        Av. Siqueira Campos, 282 - Centro, São José da Laje - AL

      </a>
    </div> -->
  </div>

</section>
<footer-component></footer-component>
