#contato {
  background: url(../../assets/images/operator-answering-client-phone-call-customer-care-service-helping-people-call-center-support-male-receptionist-giving-telemarketing-assistance-phone-helpline-office.jpg);
  background-size: cover;
  background-position: 200px 0;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;


  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(to right bottom, #352773, #2d2561, #27214e, #211e3d, #1c1a2b, #1c1a2b, #1c1a2b, #1c1a2b, #211e3d, #27214e, #2d2561, #352773);
    background-image: linear-gradient(
      to right bottom,
      #352773,
      #2d2561,
      #27214e,
      #211e3d,
      #1c1a2b,
      #1c1a2b,
      #1c1a2b,
      #1c1a2b,
      #211e3d,
      #27214e,
      #2d2561,
      #352773
    );
    opacity: 0.7;
    clip-path: polygon(0 0, 65% 0, 50% 100%, 0% 100%);
    /* From https://css.glass */
    background: rgba(0, 245, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(360px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 245, 255, 0.3);
    border-radius:0;
  }

  .section-content {
    position: relative;
    z-index: 3;

    padding: 0 120px;

    .contact {
      font-size: 60px;
      gap: 5px;
      width: max-content;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      gap: 10px;
      position: relative;

      i {
        font-size: 60px;
        padding: 0;
      }

      h4 {
        margin: 0;
      }

      a {
        margin-top: 20px;
        letter-spacing: 0.8px;
        color: $white-color;
        text-decoration: none;
        position: relative;

        &:hover {
          color: #16ff00;
          transition: 0.2s ease;
        }
      }
    }

    p {
      font-size: 40px;
    }

    .invite-adress {
      margin-top: 30px;

      display: flex;
      flex-direction: row;
      margin-left: 100px;

      img {
        width: 500px;
      }
    }

    @keyframes borderAnimation {
      from {
        width: 0%;
      }

      to {
        width: 100%;
      }
    }
  }
}

@import "../responsiveness/contato";
