<section class="choice">

    <div class="hero">
        <img src="../../../assets/images/8fffbb3d-9a51-4740-a19e-b762da2be22c.jpeg" alt="">
    </div>

    <div class="select-menu">

        <div class="select-btn">
            <span class="btn-text">Selecione uma cidade</span>
            <i class="fa-regular fa-chevron-down"></i>
        </div>

        <ul>
            <li>Laje</li>
            <li>Uniao</li>
            <li>Maceio</li>
        </ul>
    </div>

</section>

<script>
    console.log('teste')
</script>
