<navbar-home></navbar-home>

<section id="planos">

    <svg xmlns="http://www.w3.org/2000/svg">

        <!-- filterUnits is required to prevent clipping the blur outside the viewBox -->

        <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">

            <!-- We only want horizontal blurring. x: 100, y: 0 -->

            <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
        </filter>
    </svg>

    <div class="container-page-planos">


        <span class="text-blur" filter-content="C">Conexão que acompanha o seu ritmo</span>


        <div class="sem-apps">

            <div class="title-apps">
                Planos :
            </div>

            <div class="planos">
                <div class="card-plano">

                    <div class="title">
                        200 <span>Mega</span>
                    </div>
    
                    <ul>
                        <li>Instalação Grátis</li>
                        <li>Suporte de domingo a domingo</li>
                        <li>Wi-fi 5g de alta performance</li>
                        <li>+ de 100 canais de TV em HD</li>
                    </ul>
                    <div class="value">
                        <span>R$ 49</span>
                        <div class="small-text">
                            <small>,90</small>
                            <small>mês</small>
                        </div>
                    </div>
    
    
    
                    <a href="https://api.whatsapp.com/send?phone=558005914866&text=Ol%C3%A1,%0AGostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20plano%20de%20internet%20de%20200%20MEGA%20com%20instala%C3%A7%C3%A3o%20gr%C3%A1tis,%20suporte%2024/7,%20Wi-Fi%205G%20de%20alta%20performance%20e%20mais%20de%20100%20canais%20de%20TV%20HD%20por%20apenas%20R$%2049,90/m%C3%AAs.%20Como%20fa%C3%A7o%20para%20adquirir?"
                        target="blank" class="button-contract">Contrate Agora</a>
    
                </div>
    
                <div class="card-plano">
    
                    <div class="title">
                        300 <span>Mega</span>
                    </div>
    
                    <ul>
                        <li>Instalação Grátis</li>
                        <li>Suporte de domingo a domingo</li>
                        <li>Wi-fi 5g de alta performance</li>
                        <li>+ de 100 canais de TV em HD</li>
                    </ul>
                    <div class="value">
                        <span>R$ 59</span>
                        <div class="small-text">
                            <small>,90</small>
                            <small>mês</small>
                        </div>
                    </div>
    
    
    
                    <a href="https://api.whatsapp.com/send?phone=558005914866&text=Ol%C3%A1,%0AGostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20plano%20de%20internet%20de%20200%20MEGA%20com%20instala%C3%A7%C3%A3o%20gr%C3%A1tis,%20suporte%2024/7,%20Wi-Fi%205G%20de%20alta%20performance%20e%20mais%20de%20100%20canais%20de%20TV%20HD%20por%20apenas%20R$%2049,90/m%C3%AAs.%20Como%20fa%C3%A7o%20para%20adquirir?"
                        target="blank" class="button-contract">Contrate Agora</a>
    
                </div>
    
                <div class="card-plano">
    
                    <div class="title">
                        500 <span>Mega</span>
                    </div>
    
                    <ul>
                        <li>Instalação Grátis</li>
                        <li>Suporte de domingo a domingo</li>
                        <li>Wi-fi 5g de alta performance</li>
                        <li>+ de 100 canais de TV em HD</li>
                    </ul>
                    <div class="value">
                        <span>R$ 69</span>
                        <div class="small-text">
                            <small>,90</small>
                            <small>mês</small>
                        </div>
                    </div>
    
    
    
                    <a href="https://api.whatsapp.com/send?phone=558005914866&text=Ol%C3%A1,%0AGostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20plano%20de%20internet%20de%20200%20MEGA%20com%20instala%C3%A7%C3%A3o%20gr%C3%A1tis,%20suporte%2024/7,%20Wi-Fi%205G%20de%20alta%20performance%20e%20mais%20de%20100%20canais%20de%20TV%20HD%20por%20apenas%20R$%2049,90/m%C3%AAs.%20Como%20fa%C3%A7o%20para%20adquirir?"
                        target="blank" class="button-contract">Contrate Agora</a>
    
                </div>
    
            </div>
            

            
        </div>

        <div class="com-apps">

            <div class="title-apps">
                Combos :
            </div>

            <div class="planos">
                <div class="plano plano-standard">

                    <div class="card-plano">
        
                        <div class="title">
                            300 <span>Mega</span>
                        </div>
        
                        <ul>
                            <li>Instalação Grátis</li>
                            <li>Suporte de domingo a domingo</li>
                            <li>Wi-fi 5g de alta performance</li>
                            <li>+ de 100 canais de TV em HD</li>
                        </ul>
                        <div class="value">
                            <span>R$ 64</span>
                            <div class="small-text">
                                <small>,90</small>
                                <small>mês</small>
                            </div>
                        </div>
        
        
        
                        <a href="https://api.whatsapp.com/send?phone=558005914866&text=Ol%C3%A1,%0AGostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20plano%20de%20internet%20de%20200%20MEGA%20com%20instala%C3%A7%C3%A3o%20gr%C3%A1tis,%20suporte%2024/7,%20Wi-Fi%205G%20de%20alta%20performance%20e%20mais%20de%20100%20canais%20de%20TV%20HD%20por%20apenas%20R$%2049,90/m%C3%AAs.%20Como%20fa%C3%A7o%20para%20adquirir?"
                            target="blank" class="button-contract">Contrate Agora</a>
        
                    </div>


                    <i class="fa-solid fa-plus"></i>
        
                    <div class="apps">
                        <div class="title">
                            <span>Escolha um app Standard</span> <i class="fa-solid fa-arrow-down"></i>
                        </div>
                        <div class="app" id="musica">
                            <div class="app-class">
                                Música
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Deezer.png" alt="">
                            </div>
                        </div>
                        <div class="app" id="diversos">
                            <div class="app-class">
                                Diversos
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Maia.png" alt="">
                                <img src="../../../assets/Apps Standard/Hub Vantagens.png" alt="">
                            </div>
                        </div>
                        <div class="app" id="filmes-series">
                            <div class="app-class">
                                Filmes e séries
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/looke.png" alt="">
                            </div>
                        </div>
                        <div class="app" id="bem-estar">
                            <div class="app-class">
                                Bem-estar
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/+ Q Nutri.png" alt="">
                                <img src="../../../assets/Apps Standard/Fluid.png" alt="">
                            </div>
                        </div>
                        <div class="app" id="infantil">
                            <div class="app-class">
                                Infantil
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Galinha Pintadinha.png" alt="">
                                <img src="../../../assets/Apps Standard/Pocoyo House.png" alt="">
                                <img src="../../../assets/Apps Standard/PlayKids.png" alt="">
                                
                            </div>
                        </div>
                        <div class="app" id="games">
                            <div class="app-class">
                                Games
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Fuze Forge.png" alt="">
                                
                            </div>
                        </div>

                        <div class="app" id="seguranca">
                            <div class="app-class">
                                Segurança
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Kaspersky.png" alt="">
                                <img src="../../../assets/Apps Standard/Tô Aqui.png" alt="">

                                
                            </div>
                        </div>
                        <div class="app" id="Educacao">
                            <div class="app-class">
                                Educação
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps Standard/Reforça.png" alt="">
                                <img src="../../../assets/Apps Standard/Tap Lingo.png" alt="">
                                <img src="../../../assets/Apps Standard/Clube de Ciências.png" alt="">
                            </div>
                        </div>
                    </div>

                   
        
                </div>

                <div class="plano plano-premium">

                    <div class="card-plano">
        
                        <div class="title">
                            500 <span>Mega</span>
                        </div>
        
                        <ul>
                            <li>Instalação Grátis</li>
                            <li>Suporte de domingo a domingo</li>
                            <li>Wi-fi 5g de alta performance</li>
                            <li>+ de 100 canais de TV em HD</li>
                        </ul>
                        <div class="value">
                            <span>R$ 84</span>
                            <div class="small-text">
                                <small>,90</small>
                                <small>mês</small>
                            </div>
                        </div>
        
        
        
                        <a href="https://api.whatsapp.com/send?phone=558005914866&text=Ol%C3%A1,%0AGostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20plano%20de%20internet%20de%20200%20MEGA%20com%20instala%C3%A7%C3%A3o%20gr%C3%A1tis,%20suporte%2024/7,%20Wi-Fi%205G%20de%20alta%20performance%20e%20mais%20de%20100%20canais%20de%20TV%20HD%20por%20apenas%20R$%2049,90/m%C3%AAs.%20Como%20fa%C3%A7o%20para%20adquirir?"
                            target="blank" class="button-contract">Contrate Agora</a>
        
                    </div>


                    <i class="fa-solid fa-plus"></i>
        
                    <div class="apps">
                        <div class="title">
                            <span>Escolha um app Premium</span> <i class="fa-solid fa-arrow-down"></i>
                        </div>
                       
                        <div class="app" id="filmes-series">
                            <div class="app-class">
                                Filmes e séries
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps premium/MAX.png" alt="">
                            </div>
                        </div>
                        <div class="app" id="bem-estar">
                            <div class="app-class">
                                Bem-estar
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps premium/Queima Diaria.png" alt="">
                                <img src="../../../assets/Apps premium/Ritual Fit.png" alt="">
                            </div>
                        </div>

                        <div class="app" id="documentarios">
                            <div class="app-class">
                                Documentários
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps premium/Curta On.png" alt="">
                            </div>
                        </div>

                        <div class="app" id="aprendizado">
                            <div class="app-class">
                                Aprendizado
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps premium/Smart content.png" alt="">
                            </div>
                        </div>

                        <div class="app" id="adulto">
                            <div class="app-class">
                                Conteúdo adulto
                            </div>
                            <div class="logos">
                                <img src="../../../assets/Apps premium/HotGo.png" alt="">
                            </div>
                        </div>
                      
                    
                    </div>

                   
        
                </div>
            </div>
        </div>
       

    </div>

</section>
<footer-component></footer-component>