@import "./scss/abstract/fonts";
@import "./scss/abstract/colors";

@import "./scss/components/navbar";
@import "./scss/pages/home";
@import "./scss/pages/quem-somos";

body{
    color: $white-color;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    overflow-x:hidden;
    background-image: linear-gradient(to bottom, #1e163b, #221945, #261c4f, #2b2059, #2f2364, #2f2364, #2f2364, #2f2364, #2b2059, #261c4f, #221945, #1e163b);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }


body::-webkit-scrollbar{
    width: 11px;
    background: grey;
}

body::-webkit-scrollbar-thumb{

    background: $white-color;
}

section{
  min-height: 70.6vh;
}

