@import "./scss/abstract/fonts";
@import "./scss/abstract/colors";

@import "./scss/components/navbar";
@import "./scss/pages/home";



body{
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    width: 100vw;
    min-height: 150vh;
    overflow-x:hidden;
    background-image: linear-gradient(to bottom, #1e163b, #221945, #261c4f, #2b2059, #2f2364, #2f2364, #2f2364, #2f2364, #2b2059, #261c4f, #221945, #1e163b);
}


body::-webkit-scrollbar{
    width: 14px;
    background: $secondary-color;
}

body::-webkit-scrollbar-thumb{

    background: $white-color;
    border-radius: 5px;
}



